.QRcode-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.QRcode {
    display: flex;
    margin: 60px 0;
}

.QRcode-left {
    background-color: #af206f;
    position: relative;
    padding-right: 0px;
    color: #ffffff;
    padding: 25px 20px 0 25px;
    min-height: 600px;

}

.mb--20 {
    margin-bottom: 20px;
}

.mb--15 {
    margin-bottom: 15px;
}

.mt--20 {
    margin-top: 20px;
}

.pl-28 {
    padding-left: 28px;
}

.mtb-15 {
    margin: 15px 0;
}

.fz-20 {
    font-size: 20px;
}

.fz-16 {
    font-size: 16px;
}

.lh-20 {
    line-height: 25px;
}

.ml-10 {
    margin-left: 10px;
}

.is-flex {
    display: flex;
    align-items: center;
}

.is-abs{
    position: absolute;
    bottom: 40px;
}

.is-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh-30 {
    line-height: 40px;
}

.mt-16px {
    margin-top: 16px;
}

.border-bt-left {
    border-bottom: 1px solid #9d1d63;
    padding-bottom: 10px;
}

.QRcode-left__child span{
    font-size: 26px;
}

.QRcode-left__child h3 {
    margin-bottom: 18px;
    font-size: 18px;
}

.QRcode-right {
    position: relative;
    background-color: #fff;
    display: block;
    border-radius: 0 5px 5px 0;
    padding: 20px;
}

.logo-lux img{
    max-width: 270px;
    object-fit: 270px;
}

.logo-banking img {
    height: 60px;
}

.QRcode-right {
    width: 505px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7e2e7;
}

.right-sub-header {
    margin-bottom: 8px;
}

.right-body {
    text-align: center;
    color: #af206f;
    padding-top: 25px;
    font-size: 16px;
    
}

.footer-img-code img{
    height:25px;
}

.right-footer {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

