.bodySignIn {
    padding: 79px 0 80px;
    border-bottom: 1px solid var(--border-color);
}

.row-0 {
    margin: 0;
}

.welcome {
    background: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    padding: 48px 0;
    color: #fff;
}

.welcome-content {
    padding: 0 53px;
    margin: 0 45px;
}

.welcome-title {
    line-height:36px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 900;
}

.welcome-desc {
    font-size: 20px;
    line-height: 26px;
}

.section-container {
    margin: 0 45px;
    padding: 0 45px;
}

.pad-04 {
    padding: 0 8px;
}

.media {
    margin: 48px 5px 0;
}

.media__title {
    margin: 24px 0 14px;
    font-size: 20px;
    line-height: 23px;
}

.media__content {
    color: #555;
    font-size: 17px;
    line-height: 24px;
}
