.app {
    overflow: hidden;
}
/* HEADER */

::-webkit-input-placeholder {
    color: black;
    font-family: inherit;
    font-weight: 600;
    font-size: 13.5px;
}

.header__navbar-logo__box {
    display: flex;
    align-items: center;
}

/* HEADER MOBILE BARS */
.header__mobile-bars-checkbox:checked ~ .header__mobile-overlay {
    display: block;
}

.header__mobile-bars-checkbox:checked ~ .header__mobile-bars-menu {
    display: block;
}

.header__mobile-bars-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-color);
    max-width: 320px;
    width: 100%;
    text-align: left;
    padding: 20px;
    z-index: 10;
    display: none;
    animation: headerMobileBarsMenuSideIn 0.5s cubic-bezier(0.86, 0.01, 0.39, 1);
}

@keyframes headerMobileBarsMenuSideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header__mobile-bars-close {
    position: absolute;
    right: 0;
    display: block;
    font-size: 4rem;
    margin: 10px;
    top: 0;
}


.header__mobile-sort-bars {

}

.header__mobile-sort-bars-logo {
    display: inline-block;
}

.header__mobile-sort-bars-list {
    list-style: none;
    padding-left: 0;
}   

.header__mobile-sort-bars-item {
    margin: 12px 0;
    padding: 10px;
}
.header__mobile-sort-bars-translate__container {
    background-color: #f6f6f6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 6px;
    position: relative;
}

.header__mobile-sort-bars-item-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 10px 0;
}

.header__mobile-sort-bars-item-img {
    height: 24px;
    width: 24px;
}

.header__mobile-sort-bars-item-label {
    font-size: 1.4rem;
    margin-left: 10px;
}

.header__mobile-sort-bars-item-icon {
    flex: 1;
    text-align: right;
    font-size: 1.4rem;
}
.header__mobile-overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.3);
}

.translate___box-container {
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 0px 6px rgb(0 0 0 / 20%);
    width: 100%;
    right: 0;
    top: 100%;
    border-radius: 5px;
    display: none;
    animation: translateBoxDownUp ease-in-out 0.3s;
}
.translate___box-container::before {
    content: "";
    position: absolute;
    right: 20px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    height: 20px;
    width: 20px;
    background-color: var(--white-color);
    transform: rotate(45deg);
    top: -4%;
    border-radius: 3px;
}
.translate___box-container::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    right: 16px;
    background-color: var(--white-color);
    top: 1px;
}


.translate__box-container-list {
    list-style: none;
}

.translate__box-container-item {
    display: flex;
    padding: 16px;
}

.translate__box-container-img {
    width: 16px;
    height: 16px;
}
.translate___box-container-price {
    font-size: 1.6rem;
}
.translate__box-container-label {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0 12px;
}

.translate__box-container-icon {
    font-size: 1.4rem;
    font-weight: 500;
}

.translate__box-checkbox:checked ~ .translate___box-container {
    display: block;
}

.translate__box-checkbox:checked ~ .translate__box-overlay {
    display: block;
}



.translate__box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 320px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

@keyframes translateBoxDownUp {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}


.header__logo-link {
    display: flex;
}
.header__logo-link:hover {
    fill: var(--hover-color);
}

.header__select {
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    list-style: none;
    margin-left: 25px;
    position: relative;
    letter-spacing: .2px;
    font-weight: bold;
}


.header__item-link {
    color: var(--text-color);
    text-decoration: none;
    transition: all linear 0.3s;
}

.header__item-link--notify::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--hover-color);
    border-radius: 50%;
    top: -5px;
    right: -5px;
    filter: brightness(120%);
}

.header__item-link:hover {
    color: var(--hover-color);
}

.header__item-translate {
    position: relative;
}

.header__item-translate-wrapper {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 50px;
    padding: 0 10px 0 5px;
    height: 34px;
}

.header__item-translate-wrapper:hover {
    cursor: pointer;
}

.header__item-translate-label {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 8px;
}

.header__item-translate-icon {
    font-size: 1.4rem;
    margin-left: 8px;
}

/* SET NUMBER */

.set__number-select {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.set__number-select-label {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 2rem;
}

.set__number-select-desc {
    font-size: 1.2rem;
    color: #949494;
    font-weight: 400;
}

.set__number-select-option {
    display: flex;
    align-items: center;
}

.set__number-select-up-and-down {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.set__number-select-up-and-down--enabled {
    background-color: #F5F7F9;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.set__number-select-up-and-down--disabled {
    border: 1px solid var(--border-color);
    background-color:  #fbfcfd;
    cursor: not-allowed;
}
.set__number-select-up-and-down--disabled i {
    color: #e8e8e9;

}

.set__number-select-icon {
    color: #b7b9bb;
    font-weight: 300;

}

.set__number-select-number {
    font-size: 1.6rem;
    padding: 0 25px;
}

.set__number-select-icon {

}

.set__number-footer  {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
/* TRANSLATE */
.header__translate-container {
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 470px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: 8px 16px;
    z-index: 2;
    animation: underOnUp 0.3s linear;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

.header__translate-container::before {
    position: absolute;
    content: "";
    top: -10px;
    width: 20px;
    height: 20px;
    right: 30px;
    transform: rotate(45deg);
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid #d6d6d6;
}

.header__translate-container::after {
    position: absolute;
    content: "";
    top: 0px;
    width: 40px;
    height: 20px;
    right: 22px;
    background-color: var(--white-color);
}

.header__translate-lang {

}

.header__translate-country {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.header__translate-country-img {
    width: 16px;
    height: 16px;
}

.header__translate-country-label {
    font-size: 1.9rem;
    font-weight: 300;
    padding: 0 12px;
    transition: all 0.2s linear;
}

.header__translate-country-label:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.header__translate-icon--active {
    font-size: 1rem;
    font-weight: 700!important;
}

.header__translate-currency {

}

.header__translate-unit {
    display: flex;
    text-align: center;
    padding: 18px 0;
    font-size: 1.9rem;
    align-items: center;
}

.header__translate-title {
    display: flex;
    align-items: center;
}
.header__translate-title:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.header__translate-unit-label {
    transition: linear 0.2s all;
    

}

.block {
    display: block;
}

.header__translate-unit-decs {
    padding: 0 12px;
    font-weight: 300;
    transition: linear 0.2s all;

}