

.signInForm {
    padding: 0 8px;
    display: flex;
    justify-content: flex-end;
}

.acount .acount-desc {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}

.acount-sign-up .click-here {
    transition: all 0.3s;
}

.acount-sign-up .click-here:hover {
    color: var(--black-color)
}