/* BODY */
.body {
    margin-top: 79px;
}
.slider {
    position: relative;
}

.slider__container {
    display: flex;
    overflow-y: hidden;
}

.slider__container::-webkit-scrollbar {
    display: none;
}

.slider__link {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    justify-content: center;
}


.slider__img {
    width: 100%;
    border-radius: 20px;
    margin-top: 44px;
}

.slider__img--animation {
    animation: slider 3s linear;
}
/* CONTENT */
.content {
    display: flex;
    justify-content: center;
}

.content__container {
    width: 1296px;
    font-size: 1.8rem;
    font-weight: 300;
    width: 100%;
    color: var(--text-color);
}

.content__container h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
}

.content__container h4 {
    font-size: 2.4rem;
    font-weight: 700;
}
.content__container-desc {
    color: #666;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 2.4rem;
}

.content__container-desc .view__more a{
    font-size: 16px;
}

.content__container-auth {
    color: #666;
    font-weight: 300;
    font-size: 1.6rem;
}

.content__container-auth-link {
    color: #666;
    font-weight: 300;
    font-size: 1.6rem;
    transition: linear all 0.3s;
}

.content__container-auth-link:hover {
    color: var(--hover-color);
}

.content__container-auth-label {

}

/* PRO PLACE */
.pro__place-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.pro__place-container::-webkit-scrollbar {
    display: none;
}

.pro__place-btn-container {
    display: flex;
    align-items: center;
}

.pro__place {
    max-width: 1296px;
    width: 100%;
}

.pro__place-link {
    color: var(--white-color);
    font-size: 1.6rem;
    display: block;
    position: relative;
    height: 100%;
}

.pro__place-link:hover {
    transform: translateY(-1px);
}

.pro__place-link:hover .pro__place-img {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 20%);
}

.pro__place-link:hover .pro__place-label {
    color: var(--hover-color);
}
.pro__place-link:hover .pro__place-decs {
    color: var(--hover-color);
}
.pro__place-link:hover .pro__place-decs-place {
    color: var(--hover-color);
}



.pro__place-img {
    --height-pro-place-img: 308px;
    border-radius: 5px;
    width: 100%;
    /* height: var(--height-pro-place-img); */
}

.pro__place-title {
    position: absolute;
    bottom: 30px;
    left: 3rem;
}


.pro__place-label {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-bottom: 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 3rem;
    /* width: 180px; */
    transition: all 0.3s linear;
}

.pro__place-decs {
    color: var(--white-color);
    font-size: 1.6rem;
    transition: all 0.3s linear;
}

.pro__place-decs-place {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white-color);
    transition: all 0.3s linear;
}

.slick-prev {
    position: absolute;
    border: none;
    transform: translateX(-40%);
    border-radius: 50%;
    z-index: 1;
}

.slick-next {
    position: absolute;
    border: none;
    right: 0px;
    border-radius: 50%;
    transform: translateX(40%);
    z-index: 1;
}

.slick--disabled {
    /* opacity: 0.6; */
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
    /* cursor:not-allowed; */
    cursor: pointer;
    background-color: var(--white-color);
}

.slick--disabled:hover{
    color: var(--hover-color);
    box-shadow: 0px 1px 8px 1px rgb(247 114 72 / 14%);
}

.slick--enbled {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
}

.slick--enbled:hover {
    color: var(--hover-color);
    box-shadow: 0px 1px 8px 1px rgb(247 114 72 / 14%);
}

.pro__place-btn-icon {

}

/* ƯU ĐÃI ĐỘC QUYỀN */
.safe__off-container {
    display: flex;
    align-items: center;
    position: relative;
}
.safe__off-btn-container {
    display: flex;
    align-items: center;
}
.sale__off {
    position: relative;
}

.sale__off::-webkit-scrollbar {
    display: none;
}

.sale__off-container {
    overflow: hidden;
    border-radius: 5px;
}

.sale__off-link {
    display: block;
}

.sale__off-img {
    width: 100%;
    border-radius: 10px;
    transition: all linear 0.1s;
}

.sale__off-img:hover {
    transform: scale(1.1);
}
.view__more {
}


.view__more a {
    color: var(--hover-color);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 400;
}

/* SOME IDEA */
.some__idea {
}

.some__idea::-webkit-scrollbar {
    display: none;
}


.some__idea-container-box {
    position: relative;
    display: flex;
    align-items: center;
}

.some__idea-container:hover .some__idea-decs {
    color: var(--hover-color);

}

.some__idea-link {
    text-decoration: none;

}

.some__idea-img {
    width: 100%;
    border-radius: 5px;
}

.some__idea-label {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 8px;
}

.some__idea-decs {
    color: #888;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    margin-top: 10px;
    transition: all 0.5s;

}

/* SOME DISCOVER */

.some__discover-container {
    display: flex;
    align-items: center;
    position: relative;
}


.some__discover {
    max-width: 1296px;
    width: 100%;
}

.some__discover::-webkit-scrollbar {
    display: none;
}

.some__discover-item {
    overflow: hidden;
    border-radius: 5px;
    height: 230px;
    position: relative;
}

.some__discover-item-link {
    display: block;
    height: 100%;
}


.some__discover-item-img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    transition: all 0.5s linear;
}
.some__discover-item-img:hover {
    filter: blur(2px);
}

.some__discover-item-label:hover {
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.some__discover-item-label {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 22px;
    background-color: rgba(0,0,0,0.3);
    color: var(--white-color);
    letter-spacing: 1px;
    padding: 4px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px
}

.some__discover-item-decs {
    position: absolute;
    bottom: 16px;
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 0 18px;
    line-height: 2.4rem;
}

/* HOW TO USE */
.guide {

}

.guide-container {
    display: flex;
    position: relative;
}

.guide-btn-container {
    display: flex;
    align-items: center;
}

.guide::-webkit-scrollbar {
    display: none;
}

.guide-item {

}

.guide-item-link {
    display: block;
    height: 100%;
}

.guide-item-img {
    width: 100%;
    border-radius: 5px;
}

/* DOWNLOAD APP */
.download__app {

}

.download__app-logo {

}

.download__app-logo-svg {
    height: 70px;
    width: 100%;
}

.download__app-heading {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 18px;
    line-height: 3rem;
}

.download__app-decs {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-top: 34px;
}

.download__app-place {
    display: flex;
    margin-left: -22px;
    margin-right: -22px;
    margin-top: 70px;
}

.download__app-qr {
    width: calc(100% /3);
    padding: 0 22px;
}

.download__app-qr-img {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.download__app-mobile {
    width: calc(100% /3);
}

.download__app-mobile-container {
    margin-top: 16px;
}
.download__app-mobile-link {
    display: block;
}

.download__app-mobile-img {
    width: 100%;
    padding: 0 22px;
}

.download__app-home {

}

.download__app-home-img {
    width: 100%;
}