/* FOOTER */
/* INFO */
.footer {
    padding: 48px 0;
    border-bottom: 1px solid var(--border-color);
}

.footer__container-info {

}
.footer__info-logo {
    margin-bottom: 20px;
}
.footer__info-mess {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__info-mess-logo i {
    font-size: 20px;
}   

.footer__info-mess-title {
    line-height: 2rem;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: bold;
}

.footer__info-mess-heading {

}

.footer__info-mess-decs {
    font-weight: 300;
}

.footer__info-mess-decs-link {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.1s linear;

}

.footer__info-mess-decs-link:hover {
    color: var(--hover-color);
}

.footer__info-phone {
    display: flex;
    align-items: center;
}

.footer__info-phone-logo i {
    font-size: 20px;
}

.footer__info-phone-title {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 10px;
}

.footer__info-phone-heading {
    font-weight: bold;
}

.footer__info-phone-decs {
    font-weight: 300;
}

.footer__info-phone-link {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.1s linear;

}

.footer__info-phone-link:hover {
    color:var(--hover-color);
}
.footer__heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer__list {
    margin-top: 20px;
}

.footer__item {
    list-style: none;
    height: 36px;
    line-height: 36px;
}

.footer__item-link {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    display: block;
    transition: all 0.1s linear;
}

.footer__item-link:hover {
    color: var(--hover-color);
}

.footer__download-app {
    display: flex;
    margin: 0 -10px;
    margin-top: 20px;
}

.footer__download-app-qr {
    width: 50%;
    padding: 0 10px;
}

.footer__download-app-qr-img {
    width: 90px;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.footer__download-app-container {
    padding: 0 10px;
}

.footer__download-app-link {
    display: inline-block;
    height: 30px;
}

.footer__download-app-img {
    margin-bottom: 10px;
    width: 92px;
}

.transaction {
    margin-top: 48px;
}

.footer__transaction-list {
    display: flex;
    margin-top: 20px;
}

.footer__transaction-item {
    list-style: none;
}

.footer__transaction-img {

}

.certification {
    margin-top: 48px;
}

.certification-list {
    display: flex;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: -5px;

}

.certification-item {
    list-style: none;
}

.certification-item-link {
    display: block;
}

.certification-item-img {
    width: 94px;

}

/* FOLLOW */
.follow {
    margin-top: 48px;
}

.follow-list {
    display: flex;
    margin-top: 20px;
}

.follow-item {
    list-style: none;
}

.follow-item-link {
    color: #555;
    padding-right: 12px;
}
