/* FOOTER BOTTOM */
.footer__bottom {
    text-align: center;
    padding: 26px 0;
}

.footer__bottom-container {

}

.footer__bottom-cpr {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: #9da2a8;
}