.mb-14 {
    margin-bottom: 14px!important;
}

.mb--0 {
    margin-bottom: 0!important;
}

.accept-sub-title {
    font-size: 16px;
    color: #555555;
}

.is-shadow-box {
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.el-radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gateway {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-shadow-box {
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.radius {
    border-radius: 5px!important;
}

.mt--18{
    margin-top: 18px;
    padding: 18px 24px;
}

.el-radio__input {
    margin-right: 8px;
}

.w-80{
    width: 80%;
}

/* .el-radio__inner {
    border: 2px solid #ced4da;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
} */

.el-radio__input input{
    transform: scale(1.5);
    
    /* display: none; */
}

/* .el-radio__input.is-checked .el-radio__inner:after {
    transform: translate(-50%,-50%) scale(1);
}

.el-radio__inner:after {
    width: 10px;
    height: 10px;
    background: #f65e39;
}

.el-radio__inner:after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s ease-in;
} */

.gateway__desc {
    padding: 0 8px;
}

.gateway__desc p{
    font-size: 16px !important;
    font-weight: bold;
}

.gateway__desc span{
    font-size: 10px;
    color: #999;
    padding-top: 6px;  
    display: block;  
}

.gateway__icon {
    padding: 0 8px;
    width: 79px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.gateway__icon img {
    max-width:100%; 

}

.el-radio__label {
    width: 100%;
}

.flexBtw {
    display: flex;
    justify-content: space-between;
}
