.flex-start {
    justify-content: flex-start;
}

.p-lr-90 {
    padding: 0 90px;
}

.booking-info-header {
    font-size: 18px;
    padding-left:  28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-info-header .booking .info {
    color: var(--hover-color);
    font-weight: bold;
}

.booking-info-header .booking i {
    font-size: 10px;
    opacity: 0.6;
}

.booking-info-header .booking  span {
    margin-right: 24px;
}