.mb--42 {
    margin-bottom: 42px;
}

.mb--6{
    margin-bottom: 6px;
}

.mb--12 {
    margin-bottom: 12px;
}

.mt--18 {
    margin-top: 18px;
}

.mt--27 {
    margin-top: 27px;
}

.mt-0 {
    margin-top: 0;
}

.mt--16 {
    margin-top: 16px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mlr--8 {
    margin: 0 8px 0;
}

.mt--8 {
    margin-top: 8px;
}

.pt-20 {
    padding-top: 20px;
}

.pl-8 {
    padding-left: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.p--12 {
    padding: 12px;
}

.pt--48 {
    padding-top: 48px;
}

.py--24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.py--12 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.px--18 {
    padding-left: 18px!important;
    padding-right: 18px!important;
}

.bgr-white {
    background-color:white;
}

.is-flex-btw {
    display: flex;
    justify-content: space-between;
}

.login-instruction {
    background-color: #fff;
    background-image: url(https://www.luxstay.com/login-bg.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e9e9e9;
    overflow: hidden;
}



.row-login__instruction {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
}

.login-instruction__btn {
    background-color: var(--hover-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 18px;
    font-size: 16.5px;
    height: 38px;
    width: 146px;
    margin-bottom: 8px;
}

.row-login__instruction-label {
    font-size: 22px;
    line-height: 24px;
}

.row-login__instruction-desc {
    font-size: 16px;
    line-height: 20px;
}

.check-out-left__title h3{
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 28px;
}

.check-out-left__sub-title {
    font-size: 17px;
    line-height: 28px;
}

.check-out-left__input-group {
    margin: 32px 0 16px;
}

.text-danger {
    color: var(--hover-color);
}

hr {
    border: 0;
    height: 1px;
    background: #e9e9e9;
    margin: 8px 0;
}

hr.is-green:before {
    background-color: #28ca6e;
}

hr.is-decorate {
    background: transparent;
    position: relative;
    height: 4px;
}

hr.is-decorate:before {
    content: "";
    display: block;
    border-radius: 2.5px;
    width: 40%;
    height: 100%;
}

.c-gray-9 {
    color: #999!important;
}

.p--giant {
    font-size: 24px!important;
}

.p--small-2 {
    font-size: 12px!important;
}

hr.is-orange:before {
    background-color: #fbdb91;
}

.input-group__text {
    color: #555;
    font-size: 16px;
}

.text-user-input {
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.15)!important;
    background-color: rgba(0,0,0,.07)!important;
}

.check-out-left__sub-title input {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 48px;
    padding: 8px 20px;
    outline: none;
}

.check-out-left__sub-title input:focus {
    border: none!important;
    background-color: #fff!important;
}

.check-out-left__input-group input {
    margin-top: 16px;
}

.bd-radius-5 {
    border-radius: 5px!important;
    overflow: hidden;
}

.input-group__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-group__label input{
    width: 18px;
    margin-top: 0;
    margin-right: 10px;
    background-color: var(--hover-color);
    border: yellowgreen;
}

.btn--primary {
    background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 500% auto;
}

.btn--sm {
    margin-top: 25px;
    height: 48px;
    width: 170px;
    font-size: 16px;
    padding: 0 15px;
}

.check-out-right__body {
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    /* width: 100%; */
    position: sticky;
    top: 100px;
    /* right: 90px; */
}

.check-up-header__link {
    display: flex;

}

.check-up-header {
    margin-bottom: 24px;
}

.check-up__border-bottom {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
}

.check-up-header__left {
    font-size: 16.5px;
    line-height: 20px;
    padding-right: 37.5px;
}

.check-up-header__right img {
    width: 128px;
    border-radius: 5px;
}

.check-out-left__sub-title {
    margin-bottom: 20px;
}

.check-up-header__left span {
    margin-left: 8px;
    opacity: 0.6;

}

.check-up__header a{
    transition: 0.3s;
}

.check-up__header a:hover {
    color: var(--hover-color)!important;
}

.check-up__details svg {
    width:24px;
    height:24px;
}

.time-day {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 12px;
}

.time-day b {
    margin-left: 8px;
    margin-right: 4px;
}

.check-up__price {
    color: #222;
    font-size: 16px;
}

.check-up__footer {
    padding-top: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #222;
    opacity: 0.8;
    line-height: 16px;
}

.hover-color {
    color: var(--hover-color);
}

.dis-none {
    display: none;
}