.book-home__slide-wrapper {
    position: relative;
    width: calc(100vw-10px);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.book-home__slide-wrapper::-webkit-scrollbar {
    width: 0 !important;
    display: none; 
}

.book-home__slide {
    display: flex;
    height: 420px;
    margin: 0 -2.5px;
}

.book-home__wrapper-img {
    background-color: black;
}

.book-home__backgroung {
    padding: 0 2.5px;
    overflow: hidden;
}

.book-home__img {
    height: 420px;
    object-fit: cover;
    transition: 0.5s;
}

.book-home__img:hover{
    transform: scale(1.2)
}

.dis-home {
    position: absolute;
    right: 186px;
    bottom: 24px;
    height: 36px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 16px;    
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}

.dis-home:hover {
    background-color: var(--hover-color);
}

.dis-home-dots {
    margin-right: 12px;
    opacity: 0.6;
}

.code-home {
    position: absolute;
    right: 13vw;
    top: 0;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 12px;
    padding: 2px 10px;
    font-weight: bold;
    width: 78px
}

.code-home::after {
    content: "";
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: black transparent transparent;
    border-style: solid;
    border-width: 10px 39px;
}

.row-143 {
    margin: 0 143px;
}

.left-address {
    padding: 24px 0;
    font-size: 16px;
    display: flex;
}

.left-address a{
    color: black;
    text-decoration: none;
    margin-right: 24px;
    transition: 0.3s;
}

.left-address a:hover {
    color: var(--hover-color);
}

.left-title {
    padding-right: 50px;
}

.left-title h1{
    font-size: 32px;
    line-height:32px;
    padding-right: 115px;
    margin-bottom: 26px;
}

.pad-right-50 {
    padding-right: 50px;
}

.left-home__address {
    font-size: 14px;
    margin-top: 18px;
}

.left-home__address i {
    opacity: 0.6
}

.left-home__address b {
    margin-left: 6px;
    margin-right: 8px;
}

.left-home__address a {
    text-decoration: none;
    color:#28ca6e;
    padding-left: 4px;
}

.left-home__address span {
    opacity: 0.6;
    font-weight: bold;
}

.left-home-desc {
    margin: 16px 0 48px;
    display: flex;
    font-size: 16px;
}

.left-home-about {
    font-size: 16px;
}

.left-home-about .left-home-about-ul{
    font-weight: bold;
    margin-bottom: 16px;
}

.left-home-about li {
    margin-bottom: 16px;
    line-height: 20px;
    font-weight: 100;
    font-size: 16.5px;
}

.home-title {
    margin-top: 60px;
}

.home-title h3 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
}

.home-title span {
    font-size: 16.5px;
    color: #222222;
}

.home-sub-title {
    font-size: 20px;
}

.home-sub-title h4 {
    margin-top: 24px;
}

.home-sub-title ul {
    list-style-type: none;
}

/* .home-title__desc {
    display: inline-block;
    margin-bottom: 24px;
} */

.title-list {
    display: flex;
    flex-wrap: wrap;
}

.title-list__child {
    flex-basis: 33.33333%;
    font-size: 14px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-self: start;
}

.title-list__child span {
    margin-left: 12px;
}

.home-price__child:nth-child(2n+1) {
    background-color: #f6f6f6;
}

.home-price__child {
    font-size: 16.5px;
    padding:  12px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:48px;
    color: #333333;
}

.home-price__child :last-child {
    font-weight: bold;
}

.book-home-header__field-month {
    position: relative;
    right: 0;
}

.book-home__date {
    display: flex;
    justify-content: start;
    position: relative;
}

.book-home-date-header__field-icon-box-right {
    top: 16px;
    right: 16px;
}

.book-home-date-header__field-icon-box-left {
    top: 16px;
    left: 16px;
}

.home-sub-title .room-des {
    font-size: 16px;
    margin-top: 8px;
    overflow: hidden;
}

.cancellation-rule {
    margin-top: 16px;
}

.cancellation-rule__title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-bottom: 10px;
}

.d-inline-flex {
    display: inline-flex!important;
}

.rule-title {
    max-width: 100px;
    margin-bottom: .5rem;
}

.d-inline-block {
    display: inline-block!important;
}

.cancellation-rule__content {
    display: flex;
    height: 140px;
    overflow: hidden;
}

.rule-process__symbol {
    position: relative;
    border-radius: 50%;
}

.check-mark {
    position: absolute;
    width: 6px;
    height: 12px;
    z-index: 3;
    top: 9px;
    left: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.rule-process__line.is-top {
    top: 50%;
    left: 0;
    transform: translate(10%,350%)
}

.rule-process__line.is-bottom {
    transform: translate(15px, 20px);
}

.rule-process__symbol.is-first:after, .rule-process__symbol.is-last:after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-54%,-54%);
    border-radius: 50%;
    background: transparent;
    border: 3px solid #fff;
}

.rule-process__txt {
    min-height: 120px;
}

.mt--6 {
    margin-top: 6px!important;
}

.p--small {
    font-size: 14px!important;
}

.is-flex {
    display: flex;
}

.book-home-right {
    padding: 0 8px;
}

.right-top-share {
    display: flex;
    justify-content: flex-end;
    padding: 24px 0;
    color: #222222;
    font-size: 16px;
}

.right-top-share span {
    cursor: pointer;
}

.right-top-share i {
    cursor: pointer;
}

.right-top-share span {
    margin-right: 6px;    
}

.right-top-share i {
    opacity: 0.6;
}

.right-sidebar {
    position: sticky;
    top: 100px;
}

.book-home-sidebar__content {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 24px;
}

.book-home-sidebar__bold {
    font-size: 28px;
    font-weight: bold;
    line-height:28px;
}

.book-home-sidebar__notbold {
    font-size: 16px;
    color: #222222;
}   

.book-home-sidebar__time {
    border: 1px solid #e9e9e9;
    padding: 0 8px;
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 16px;
}

.book-home-sidebar__time input{
    border: none;
    width: 145px;
    height: 100%;
    /* padding: 0 8px; */
    font-size: 14px;
}

.book-home-sidebar__time span{
    margin: 0 8px;
}


/* ::-webkit-calendar-picker-indicator {
    filter: invert(10);
} */

.cust-border {
    border: 1px solid #e9e9e9;
    padding: 0 8px;
    height: 41px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.cust-border::before {
    width: 0;
}

.room-header__field-label-container {
    right: 0;
}

.room-header__field-wrapper {
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.book-home-sidebar__time button {
    width: 100%;
    height: 120%;
    border: none;
    box-shadow: 0 4px 12px 0 rgb(246 116 57 / 40%);
    background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 200% auto;
    border-radius: 3px;
    color: #fff;    
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.book-home-sidebar__time button:hover {
    background-position: 100%;
}

.book-home-sidebar__time input {
    width: 100%;
    height: 100%;
    outline: none;
}

.cust-phone-number {
    display: flex;
}

.w-140{
    width: 120px;
}

.m-l-4 {
    margin-left: 4px;
}

.book-home-sidebar__time-span {
    margin: 0!important;
}

.book-home-sidebar__time-span i{
    position: relative;
    top: -2px;
}

.m-r-10 {
    margin-right: 10px;
}

.lux-advise__title {
    font-size: 20px;
    margin-bottom: 6px !important;
    line-height:20px;
}

.lux-advise span {
    font-size: 12.5px;
    margin-top: 12px;
    display: inline-block
}

.support-phone-number {
    font-size: 14px;
}

.support-phone-number b {
    transition: 0.3s;
}

.support-phone-number b:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.support-phone-brg {
    background-color: #f6f6f6!important;
    color: #222;
}
