.header-after {
    height: 80px;
    width: 100%;
    top: 79px;
}

.filter {
    background-color: #fff;
}

.fixed {
    position: fixed;
}

.header-after .filter {
    display: flex;
    padding: 12px 45px;
}

.header-after .filter-btn__click {
    padding: 7px 11.2px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 12px;
    border-radius: 5px;
    height: 36px;
}

.border-btn{
    border: 1px solid #e6e6e6;
    color: #222;
    background-color: #fff;
}

.body-locations__wrapper {
    margin-top: 159px;
    margin-bottom: 96px;

}

.pad-0-45 {
    padding: 0 45px;
}

.text-covid {
    font-size: 17px;
    line-height: 2.5rem;
    color: #555;
    height: 108px;
    padding-top: 30px;
}

.location-title {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

::-webkit-input-placeholder {
    color: black;
    font-family: inherit;
    font-weight: 600;
    font-size: 13.5px;
}

.location-title-sort {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.location-sort { 
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
    height: 49.6px;
    cursor: pointer;
}

/* .location-sort:hover {
    border: 1px solid black;
} */


.location-sort .sort-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 0 15px;
    font-size: 18px;
    color: #555555;
    position: relative;
    transition: all 0.3s;
}

.location-sort .sort-text::after{
    content: "";
    height: 20px;
    width: 280px;
    background-color: transparent;
    position: absolute;
    top: 48px;
    left: 0;
}

.location-sort .sort-text:hover {
    border: 1px solid red;
    box-shadow: 0 0px 2px red;
}

.location-sort:hover .sort-btn__wrapper {
    display: block;
}

.location-sort .sort-text p {
    font-size: 17px;
}

.location-sort .sort-text .location-options {
    padding-left: 20px;
    width: 178px;
}

.sort-text i {
    font-size: 12px;
    opacity: 0.6;
}

.sort-btn__wrapper {
    position: relative;
    margin-top: 20px;
    display: none;
}

.sort-btn__wrapper::before {
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgb(243, 241, 241) transparent;
    position: absolute;
    top: -20px;
    left: 15px;
}

.sort-btn {
    background-color: #fff;
    box-shadow: 0 0 1px rgb(168, 165, 165);
    padding: 5px 0;
    animation: sort-opacity 0.3s ease-in-out;
}

@keyframes sort-opacity{
    from{
        opacity: 0;        
    }
    to {
        opacity: 1;
    }
}

.sort-up, .sort-down {
    padding: 0 20px;
    height: 34px;
    font-size: 16px;
}

.sort-active {
    color: var(--hover-color);
}

.sort-up:hover, .sort-down:hover {
    background-color: #f5f7fa;
}

.body-locations-home {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.home-wrapprer {
    margin-top: 20px;
} 

.home-wrapprer a {
    color: black;
    text-decoration: none;
}

.home-img {
    border-radius: 3px;
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.home-decs {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(118, 118, 118);
    margin-bottom: 4px;
}

.home-decs .star {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.home-decs .star p {
    padding-left: 4px;
}

.home-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.home-label p {
    padding-left: 10px;
    font-size: 16px;
}

.home-price {
    font-size: 14px;
}

.mlr-8 {
    margin-left: -8px;
    margin-right: -8px;
}

.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-number__ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
}

.page-number__ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.page-prev, .page-next {
    margin: 0 16px;
    box-shadow: 0 1px #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.page-active {
    background-color: #000!important;
    color: #fff!important;
}

.after-page-number {
    margin: 12px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}