:root {
    --primary-color: #555;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #DBDBDB;
    --hover-color: #f65e39;

    --header-height: 79pxpx;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: inherit;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1296px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.grid__column {
    padding-right: 10px;
    padding-left: 10px;
}

.grid__column-1-2 {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% / 2);
}

.grid__column-1-3 {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% / 3);
}

.grid__column-1-4 {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% / 4);
}

.grid__column-1-5 {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% / 5);
}

/* Button */
.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    height: 36px;
    padding: 0 21px;
    border-radius: 5px;
    cursor: pointer;
}


/* JS */
.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* MARGIN */
.mt-16 {
    margin-top: 16px;
}
.mt-10 {
    margin-top: 10px;
}

.mt-55 {
    margin-top: 55px;
}
.mtl-8 {
    margin-left: 8px;
}
.mb-10 {
    margin-bottom: 10px;
}

.mb-18 {
    margin-bottom: 18px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mr-20 {
    margin-right: 20px;
}
.none-margin {
    margin: 0!important;
}

@keyframes underOnUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

